# Mac file
*.DS_Store
*__MACOSX

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*tempCodeRunnerFile.py
nohup.out

# Large files
opensource_data.zip
opensource_data/
raw_data.zip
raw_data/
analysis/prediction/
analysis/figures/
*.pickle
*.processed
./testing/ivy_scripts/exported_data/
./testing/ivy_scripts/exported_data.tar.gz

# PyCharm
.idea/

# VSCode
.vscode/ 

# Logs
logs/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python scripts from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
*.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Zip files
*.zip
*.pickle
./analysis/takens/input/weather_description.csv
./analysis/jpyEDM/doc/jpyEDM_Introduction-2021-12-29.mp4
./testing/ivy_scripts/exported_data.tar.gz

./testing/ivy_scripts/exported_data/19_gcamp.txt
./testing/ivy_scripts/exported_data/16_gcamp.txt
./logs/hydra/2023_04_09_11_23_55/6/checkpoints/0_epochs_0_worms.pt
./logs/hydra/2023_04_09_11_23_55/6/checkpoints/100_epochs_9700_worms.pt
./logs/hydra/2023_04_09_11_23_55/6/checkpoints/199_epochs_19303_worms.pt
./logs/hydra/199_epochs_19303_worms.pt
./.git/objects/pack/pack-a610e6b603ff94ff0b926b5c2b2f7160ce5b4ffb.pack
./.git/objects/f9/d8ad9bce7ad610400a8447bf2b877674b3dd12
./.git/lfs/objects/29/6f/296fef5ad64ed8cf780c2ed3beb8353df895ab9493f7ca0b20ed0a868c1ec1dd
./.git/lfs/objects/19/ae/19ae523cf0de291587a396eee857c7da16ffeb042106091474639bbd0c625fa2
./.git/lfs/objects/db/e6/dbe694e330c28fc969504f9170406d5fc5400c6c2689bdde801fa6530be21428
./.git/lfs/objects/41/75/4175b0cfd43f7edd84ddb587bc3cf768cf6c33004e4815924cd5321aec74efef
./.git/lfs/objects/47/92/47925548a5c04423baebef2acd8525ab35c79d8a6f0bbb039840cddb8e31f545
./.git/lfs/objects/8b/00/8b00b767fb3052b391216ff8064c34685dd5e81d99baeeba87b9968f727dc296
./data/processed/neural/Flavell2023.pickle
./data/processed/neural/sine_seq.pickle
./data/processed/neural/sum_sine_noise.pickle
./data/processed/neural/Nguyen2017.pickle
./data/processed/neural/Nichols2017.pickle
./data/processed/neural/Uzel2022.pickle
./data/processed/neural/sum_sine.pickle
./data/processed/neural/sine_seq_noise.pickle
./data/processed/neural/Kaplan2020.pickle
./data/processed/neural/Kato2015.pickle
./data/processed/neural/Skora2018.pickle
./data/processed/neural/sine_noise.pickle
./data/processed/neural/Leifer2023.pickle
./data/processed/neural/sine.pickle
*.sh
nohup.out
