datasets 
einops
h5py
ipykernel
ipywidgets
ipython
jupyterlab
mat73
matplotlib
networkx
notebook
numpy
omegaconf
openpyxl
pandas
pytest
requests
scikit-learn
scipy
seaborn
statsmodels
tokenizers
tqdm
transformers 
typing
pyyaml
xlrd
