black[jupyter] # uses pip
datasets 
einops
h5py
hydra-core # uses pip
hydra-optuna-sweeper # uses pip
hydra-submitit-launcher # uses pip
ipykernel
ipywidgets
ipython
jupyterlab
mat73
matplotlib
ncps # uses pip
networkx
notebook
numpy
omegaconf
openai # uses pip
pandas
pytest
requests
scikit-learn
scipy
seaborn
statsmodels
tiktoken # uses pip
tokenizers
tqdm
transformers 
typing
pyyaml
