black[jupyter]
dtaidistance
fvcore
h5py
hydra-core
hydra-optuna-sweeper
hydra-submitit-launcher
ipykernel
ipython
jinja2
jupyter
jupyterlab
mat73
matplotlib
nbimporter
ncps
networkx
notebook
numpy==1.24
omegaconf
pandas==1.5
pickleshare
pytest
requests
scikit-learn
scipy
seaborn
spectrum
statsmodels
torch
torch_geometric
torchaudio
torchvision
tqdm
typing
typing_extensions
pyyaml