black[jupyter] # uses pip
datasets # uses pip
h5py
hydra-core # uses pip
hydra-optuna-sweeper # uses pip
hydra-submitit-launcher # uses pip
ipykernel
ipython
jinja2
jupyter
jupyterlab
mat73
matplotlib
nbimporter # uses pip
ncps # uses pip
networkx
notebook
numpy==1.24
omegaconf
pandas==1.5
pickleshare
pytest
requests
scikit-learn
scipy
seaborn
spectrum
statsmodels
tokenizers # uses pip
tqdm
transformers # uses pip
typing
typing_extensions
pyyaml
